/*HEADER*/
.header{
  display: flex;
  justify-content: space-between;
}
.down-arrow{
color: $mainGray;
}
.down-arrow{
  vertical-align: middle;
  font-size: 1rem;
  cursor: pointer;
}
.login{
  position: relative;
  color:$mainGray;
  font-size: 1.1rem;
  margin-top: .5rem;
  @mixin atSmall{
    font-size: 1.3rem;
  }
}
.logo{
  margin-top: .4rem;
  margin-left: -.3rem;
  img{
    width: 70%;
    @mixin atSmall{
      width: 80%;
    }
    @mixin atMedium{
      width: 90%;
    }
  }

}


.login-option{
  position: absolute;
  color: #000;
  top: 22px;
  right: 3px;
  border: 1px solid gray;
  padding: .5rem 1.7rem;
  background-color: #fff;
  display:none;
}
