/*LIVE DISPLAY SECTION*/
.live-display{
  background-color: #0D0017;
  display: flex;
  margin-bottom: 0;
  flex-direction: column;
  flex-wrap: wrap;
  @mixin atLarge{
    flex-direction: row;
  }
}
.matadata{
  @mixin atLarge{
    flex: 2;
    margin:1.5rem 20px;
    padding: 0 2rem;
  }
}

.live-display-datetime{
  @mixin atSmall{
    display: flex;
  }
}

.display{
  text-align: center;
  margin-top: 16px;
  @mixin atSmall{
    display: flex;
    justify-content: space-around;
  }
  @mixin atLarge{
    display: block;
    margin-top: -35px;
    margin-left: 30px;
  }
  
}
.display-datetime{
  @mixin atSmall{
    margin-top:5rem;
    margin-left: 2.5rem
  } 
}
.matadata{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @mixin atLarge{
    width: 100px;
    padding: 0 20px;
  }
}

.box{
  border:1px solid white;
  border-radius: 5px;
  line-height: 0;
  width: 166px;
  padding: .5rem 0 0 0;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  p{
    font-style: italic;
    font-weight: 100;
  }
  @mixin atLarge{
    margin-right: .6rem;
    width: 190px;
  }
}
.box p{
  margin: .6rem;
  font-size: .7rem;
}
.box h6{
  margin: 0.9rem;
}
.box-btn{
  background-color: #fff;
  border: 1px solid #fff;
  color: green;
  font-size: .9rem;
  font-weight: bold;
  border-radius: 3px;
  padding: .15rem 1.6rem;
}
.box-btn-status{
  background: linear-gradient(to right, #003314 , #005214);
  border: 1px solid #003314;
  border-radius: 20px;
  color: #fff;
  font-size: .8rem;
  font-weight: 600;
  padding: .35rem 1.8rem;
  margin-bottom: .7rem;
  text-transform: uppercase;;

}
#datetime{
  color: #fff;
  
}
#time{
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
}
.live-display-datetime{
  margin-top: 2rem;
  text-align: center;
}

.cooler-img{
  width: 80%;
}
